extends templates/layout

block append main
  div.container-fluid.fondo--about
    div.row
      div.col.s8.offset-s1.col.l8.offset-l1
        h3 Princing Table
        h5 Why our clients love to work with us.

  div.container
    div.row.margen-contenedor
      div.col.s3.col.l3
        div
          div.margen-ceroAbajo
            div.triangulo-equilatero-bottom
          div.color--azul.margen-ceroAbajo
            div
              div
                h4.enlinea Basic
                h4.enlinea.margen--derecho  $29/
                p.right-align Mont
          div.color--gris
            p.enlinea elementos de la tabla
            i.fa.fa-times(aria-hidden="true")
          div.color--gris
            p.enlinea elementos de la tabla
            i.fa.fa-times(aria-hidden="true")
          div.margen-ceroAbajo
            div.triangulo-equilatero-bottom.rotate



      div.col.s3.col.l3
        div.row
          div.col.s12.col.l12.margen-ceroAbajo
            div.triangulo-equilatero-bottom
          div.col.s12.col.l12.color--azul.margen-ceroAbajo
            div.row
              div.col.s8.col.l8
                h4 Basic
              div.col.s4.col.l4
                h4 $29/
                p Mont
          div.col.s12.col.l12.color--gris
            p.enlinea elementos de la tabla
            i.fa.fa-times(aria-hidden="true")
          div.col.s12.col.l12.color--gris
            p.enlinea elementos de la tabla
            i.fa.fa-times(aria-hidden="true")

      div.col.s3.col.l3
        div.row
          div.col.s12.col.l12.margen-ceroAbajo
            div.triangulo-equilatero-bottom
          div.col.s12.col.l12.color--azul.margen-ceroAbajo
            div.row
              div.col.s8.col.l8
                h4 Basic
              div.col.s4.col.l4
                h4 $29/
                p Mont
          div.col.s12.col.l12.color--gris
            p.enlinea elementos de la tabla
            i.fa.fa-times(aria-hidden="true")
          div.col.s12.col.l12.color--gris
            p.enlinea elementos de la tabla
            i.fa.fa-times(aria-hidden="true")
